html, body{
	margin: 30px;
	padding: 0px;
	font-family: Arial, Tahoma;
	color: #444;
	background-color: #F0FFFF;
	align-content: center;

}

div{
	padding: 5px;
}

button {
  transition-duration: 0.4s;

  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  background-color: #e6ffff;
  color: black;
  border: 2px solid #00CED1;
  width: 190px;
  margin-right: 30px;
}
button:hover {
  background-color: #F0F8FF; /* Green */
  color: black;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 10px 10px 0 rgba(0,0,0,0.19);
}
#Run:active  {
  background-color: #ADD8E6; /* Green */
  color: black;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 10px 10px 0 rgba(0,0,0,0.19);
}

#stats{
	color: #330033
}

.number{
	font-weight:bold; 
	font-size: 20px;
	background-color: #f7f0ff;
}

#zeropower{
	font-size: 20px;
	color: red;
}

#power button{
	position: relative;
	margin-left: 100px;
	color: red;
}

table{
	border: 1px;
	border-color: #FFFFFF;
	width: 100%;

}

#th1{
	width: 50%;

}
#th1 button{
	position: relative;
	text-align: left;
}



h1{
	text-align: center;
}

#endless{
	margin-top: 30px;
	text-align: center;
}

#pups{
	margin-left: 16px;
}